body{
    --code-function:rgb(18, 129, 18);
    --code-important: var(--color-orange);
    --code-keyword: #e6cd69;
    --code-operator: #e6cd69;
    --code-property: #55b5db;;
    --code-punctuation: var(--text-muted);
    --code-string:  rgb(18, 129, 18);
    --code-tag: var(--color-red);
    --code-value: #cd3f45;
    --code-background: rgb(40, 42, 54);
}

.excalidraw.theme--dark, .theme-dark, .theme-light, .theme-light.minimal-light-contrast .titlebar, .theme-light.minimal-light-contrast.is-mobile .workspace-drawer.mod-left, .theme-light.minimal-light-contrast.minimal-status-off .status-bar, body .excalidraw{
    color:rgb(18, 129, 18);
    --text-faint: #52707b;
}
.cm-s-obsidian .HyperMD-codeblock{
     color:#F4F5F6;
}


